.middle > div > h2 {
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 80px;
}
.middle p {
  font-size: 13px;
  padding-left: 7px;
  opacity: 0.9;
}

.btnGroup {
  margin-top: 30px;
  width: 75%;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.btnGroup button {
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: white;
  padding: 7px 30px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnGroup .btnExplore {
  background-color: #cc392f;
  border-radius: 15px;
}
