.listElements {
  width: 90%;
  margin-top: 20px;
}

.listElements ul {
  font-size: 14px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

.listElements ul li {
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  opacity: 0.7;
  transition: opacity 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
  font-weight: 600;
  text-decoration: none;
}

.listElements ul li:hover {
  opacity: 1;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 50px rgba(255, 255, 255, 0.8), 0 0 75px rgba(255, 255, 255, 0.7),
    0 0 76px rgba(255, 255, 255, 0.6), 0 0 77px rgba(255, 255, 255, 0.5),
    0 0 78px rgba(255, 255, 255, 0.4), 0 0 79px rgba(255, 255, 255, 0.3),
    0 0 80px rgba(255, 255, 255, 0.2), 0 0 85px rgba(255, 255, 255, 0.1);
}

