.IntroCard {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
}

.effect2 {
  display: flex;
  align-items: center;
  z-index: 2;
  border-radius: 32px;
  position: relative;
  box-shadow: 0 3px 40px rgba(17, 17, 17, 0.788);
  backdrop-filter: blur(14.5px);
  max-width: 80%;
  width: 950px;
  height: 550px;
  margin-bottom: 20px;
}
.effect2:before,
.effect2:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 500px;
  background: rgb(17, 17, 17);
  box-shadow: 0px 20px 15px rgb(17, 17, 17);
  transform: rotate(-3deg);
  /* -webkit-box-shadow: 0px 20px 10px rgb(17, 17, 17);
  -moz-box-shadow: 0px 20px 10px rgb(17, 17, 17); 
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg); */
}
.effect2:after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
  /* -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg); */
}

.container {
  padding: 5.5%;
}

.cardOverlay {
  width: 50%;
  align-self: flex-start;
  z-index: 40;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
}

.listElements {
  width: 75%;
  margin-top: 20px;
}

.listElements ul {
  font-size: 13px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  padding: 0;
}
.middle p {
  font-size: 13px;
  padding-left: 7px;
  opacity: 0.9;
}

.btnGroup {
  margin-top: 30px;
  width: 75%;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.btnGroup button {
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: white;
  padding: 7px 30px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnGroup .btnExplore {
  background-color: #cc392f;
  border-radius: 15px;
}

.middle > div > h2 {
  text-align: left;
  margin: 0;
  padding: 0;
  /* font-family: "Source Sans Pro", sans-serif; */
  font-size: 80px;
}

/* @media only screen and (max-width: 600px)  {
  .effect2 {
    width:75%;
    height: 250px;
  }
} */
