.MainPage {
  background-color: rgb(37, 52, 73);
  width: 100vw;
  height: 100vh;
   font-size: 24px;
  font-family: monospace;


  display: flex;
  justify-content: center;
  align-items: center;
}

.Character {
  white-space: pre;
}

.Character_current {
  background-color: #09d3ac;
}

.Character_out {
  color: silver;
}
