/* .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  height: 100vh;
  background: rgb(44, 127, 199);
  background: linear-gradient(
    6deg,
    rgba(44, 127, 199, 1) 0%,
    rgba(34, 120, 187, 1) 25%,
    rgba(38, 146, 219, 1) 50%,
    rgba(27, 154, 231, 1) 75%,
    rgba(0, 156, 240, 1) 100%
  );
} */
